* {
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    background-color: #000000;
    font-family: 'Kadwa', serif;
    color: #bbb;
}

a {
    text-decoration: none;
    color: #bbb;
}

a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: generals;
    src: url(fonts/SFAlienEncountersSolid-Ital.ttf);
}

img, article, section, header, nav {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:    
                    "header"
                    "meny"
                    "main"
                    "aside"
                    "footer";

}


.header {
    grid-area: "header";
    color: #6b8d87;
    text-shadow: 0.3em 0.3em 0.3em #000000;
    font-size: 1em;
    background: url(medier/repeatBackground.png);
    background-size: 100% 100%;
    border-radius: 5px;
    text-align: left;
    font-family: generals;
}


@media screen and (min-width: 480px){
    .header {
        grid-area: "header";
        color: #6b8d87;
        text-shadow: 0.3em 0.3em 0.3em #000000;
        font-size: 1.2em;
        background: url(medier/repeatBackground.png);
        background-size: 100% 100%;
        border-radius: 5px;
        text-align: center;
        font-family: generals;
    }
}

#meny {
    grid-area: "meny";
}

main {
    grid-area: "main";
}

aside {
    grid-area: "aside";
}

footer {
    grid-area: "footer";
}

.fas {
    float: right;
}

#meny ul {
    margin: 0;
    padding: 0;
}

#meny .main-meny {
    display: none;
}

#tm:checked + .main-meny {
    display: block;
}

#meny input[type="checkbox"], 
#meny ul span.drop-icon {
    display: none;
}

#meny li, 
#toggle-meny, 
#meny .sub-meny {
    border-style: solid;
    border-color: rgba(0, 0, 0, .05);
}

#meny li, 
#toggle-meny {
    border-width: 0 0 1px;
}

#meny .sub-meny {
    background-color: rgba(255, 255, 255, .1);
    border-width: 1px 1px 0;
    margin: 0 1em;
}

#meny .sub-meny li:last-child {
    border-width: 0;
}

#toggle-meny {
    position: absolute;
    top: 0.3em;
    right: -0.5em;
    font-size: 1.5em;
}

#meny li,  
#meny a {
    position: relative;
    display: block;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
}


#toggle-meny, 
#meny a {
    padding: 1em 1.5em;
}

#meny a {
    transition: all .125s ease-in-out;
}

#meny a:hover {
    background-color: white;
}

#meny .sub-meny {
    display: none;
}

#meny input[type="checkbox"]:checked + .sub-meny {
    display: block;
}

#meny .sub-meny a:hover {
    color: #444;
}

#toggle-meny .drop-icon, 
#meny li label.drop-icon {
    position: absolute;
    right: 1.5em;
    top: 1.25em;
}

#meny label.drop-icon, #toggle-meny span.drop-icon {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, .125);
    text-shadow: 0 0 0 transparent;
    color: rgba(255, 255, 255, .75);
}

#meny .drop-icon {
    line-height: 1;
}

@media only screen and (max-width: 64em) and (min-width: 52.01em) {
    #meny li {
        width: 33.333%;
    }

    #meny .sub-meny li {
        width: auto;
    }
}

@media only screen and (min-width: 52em) {
    #meny .main-meny {
        display: block;
    }

    #toggle-meny, 
    #meny label.drop-icon {
        display: none;
    }

    #meny ul span.drop-icon {
        display: inline-block;
    }

    #meny li {
        float: left;
        border-width: 0 1px 0 0;
    }

    #meny .sub-meny li {
        float: none;
    }

    #meny .sub-meny {
        border-width: 0;
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 12em;
        z-index: 3000;
    }

    #meny .sub-meny, 
    #meny input[type="checkbox"]:checked + .sub-meny {
        display: none;
    }

    #meny .sub-meny li {
        border-width: 0 0 1px;
    }

    #meny .sub-meny .sub-meny {
        top: 0;
        left: 100%;
    }

    #meny li:hover > input[type="checkbox"] + .sub-meny {
        display: block;
    }
}

.imgPrew {
    width: 90%;
}